.bottom {
    border-bottom: 1px solid #000000;
}

.bottom_right {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

.right {
    border-right: 1px solid #000000;
}

.temp {
    color: red
}
