@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: rgb(52, 73, 85);
    background: linear-gradient(110deg, rgb(52, 73, 85) 0%, rgb(120, 160, 131) 91%);
}

li {
    list-style-type: none;
    padding: 10px;
}

input {
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    background: rgb(53, 55, 75);
    border: 1px solid rgb(80, 114, 123);
    border-radius: 10px;
    color: rgb(80, 114, 123);
}

label {
    padding: 5px;
    background: rgb(53, 55, 75);
    border: 1px solid rgb(80, 114, 123);
    border-radius: 10px;
    color: rgb(80, 114, 123);

}

button {
    font-family: 'Open Sans', sans-serif;
    background: rgb(53, 55, 75);
    border: 1px solid rgb(80, 114, 123);
    border-radius: 15px;
    color: rgb(80, 114, 123);
}

p {
    padding: 5px;
    background: rgb(53, 55, 75);
    border: 1px solid rgb(80, 114, 123);
    border-radius: 15px;
    color: rgb(80, 114, 123);
}

.calculator {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-right: 10px;
}

.tasks {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-right: 10px;
}

.systemButton {
    padding: 10px;
    margin-left: 190px;
}

.backButton1 {
    padding: 10px;
    margin-left: 10px;
}

.mainButton {
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
}

.backButton2 {
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
}

.hide {
    display: none;
}

.in {
    animation-name: in-center;
    animation-duration: 1s;
}

.systemChoice {
    display: flex;
}

.systemChoice div {
    display: flex;
    flex-direction: column;
}

.bottom {
    border-bottom: 1px solid #000000;
}

.bottom_right {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

.right {
    border-right: 1px solid #000000;
}

.temp {
    color: red
}

@keyframes out-center {
    0%{
        size: 0%;
    }

    100%{
        size: 100%;
    }
}

@keyframes in-center {
    0%{
        size: 100%;
    }

    100%{
        size: 0%;
    }
}

/*предпоследняя ячейка предпоследней строки*/
tbody tr:nth-last-child(2) td:nth-last-child(2) {
    color: red;
}
